/* breakpoint - index page only */
@media screen and (min-width:950px){
    #address #contacts{
        max-width: 30%;
        display: inline-block;
    }
}

/* breakpoint - large screens*/
@media screen and (min-width: 1000px){
    /* universal */
    p{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:20px;
    }
    nav{
        width: 100%;
    }
    h1{
        font-size: 60px;
    }
    #tagline{
        font-size: 40px;
    }
    h2 , h3 , h4 {
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    nav>a {
        text-align: center;
        padding-left: 20vw;
        font-size: 25px;
    }
    /* landing page */
    video{
        max-width: 40vw;
        margin-left:5%;
    }
    #why{
        position: absolute; 
         float: right;
         top: 360px;
         left: 50%;
         margin-right: 5%; 
         max-width: 45%;
     }
     #map{
        width: 45%;
        height:350px;
        margin-left: 5%;
        display: inline-block;
        }
    #index-footer{
        margin-top: 40px;
    }
    /* menu Page */
    #pastry , #donut , #cake{
        font-size: 20px;
        padding: 10px;
        font-weight: 600;
    }
    li{
        padding: 10px 0 0 0;
        font-size: 20px
    }
    /* footer */
    footer{
        position:absolute;
        top:1150px;
        width: 100%;
        margin-bottom: 0; 
       /* margin-top:40px */  
    }
    footer>a{
        font-size:40px;
        padding:10px;
    } 
    a>p{
        width: fit-content;
        margin-left:38%;
    }  
}

/* breakpoint extra large screens */
@media screen and (min-width:1200px){
    /* index */
    p{
        margin: 0 20px;
    }
    /* menu page*/
    .menu{
        display: inline-block;
        height:300px;
        width:300px;
        position: absolute;
    }
    .card{
        height:330px;
    }
    #top{
        left:10%;
    }
    #middle{
        left: 38%;
    }
    #bottom{
        right:10%;
    }
    /* order page */
    #headline{
        margin:60px;
    }
}