/* Universal */
:root{
    --brown1:rgb(181,137,92);
    --brown2:rgb(207, 169, 131);
    --darkgrey:rgb(28, 47, 47);
    --pink:#EFDECD;
}

/* google fonts links in header of each page */
body{
    background-color: rgb(242,241,235);
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
header{
    background-color:rgb(181,137,92);
    color: rgb(28, 47, 47);
    margin: 0;
    height: auto;
    width:100%;
    padding: 0 0 0 0;
    position: relative;

}
header>h1{
    margin: 0;
}
header>h2{
    font-family: 'Nothing You Could Do', cursive;
    padding-top: 0%;
    padding-left: 2%;
    margin: 0;
    text-align: left;

}
hr{
    color: #FFFBE6;

}
p{
    margin: 10px;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav{ /*add float right to the media queries for larger screens */  
    background-color:inherit ;
    display:inline-flex;
}
nav>h2{
    text-decoration: none;
}
nav>a{
    float: left;
    padding-right:2em ;
    padding-left: 2em;
    padding-top: 1em;
    color: rgb(28, 47, 47);

}
nav>a:hover{
    color:#EFDECD;
    text-decoration: underline;
}
h1{
    font-family: 'Taviraj', serif;
    font-size: 300%;
    font-weight: 600;
    padding-bottom: 0%;

}
h2, h3 {
    font-family: 'Arsenal', sans-serif;
    text-decoration: underline;
}
h4{
    font-family: 'Arsenal', sans-serif;
    margin:0 0 0 0;
}
#about , #why, #find-us{
    max-width: 95%;
    margin: 0  auto;
}
video{
    max-width: 70%;
    margin-left: 15%;
}
#map{
    margin: 0 0 auto;
    text-align: center;
}

footer{
    font-size:25px;
    text-align: center;
    color: rgb(28, 47, 47);
    position: sticky bottom;
    background-color:rgb(207, 169, 131);
}
footer>a{
    padding:5px;
    
}
footer>a:hover{
    color:#EFDECD;
    text-decoration: underline;
}
/* menu page*/
ul{
    background-color: #e5bd96;
    max-width: fit-content;
    padding:20px 20px 10px 20px;
    margin-left: 50px;  
}
#pastry , #cake , #donut{
    font-size: 20px;
    background-color:  gainsboro;
    border: solid 2px gray;
    display: inline-block;
    position: relative;
    left:80px;
    top:30px;
    padding: 0px 10px;
}
#donut{
    position:relative;
    
}
/* This rule breaks the donuts section */
/* #middle{
    float: right;
    right: 50px;
}*/
#bottom{
    position: relative;
    height:fit-content;
}

/* Ordering page */
#order{
    position:relative;
    text-decoration: none;
}
form{
    text-align: center;
    
}
input>#placeorder{
    text-align: center;
}
#order{
    font-size: 20px;
    background-color:  gainsboro;
    border: solid 2px gray;
    display: inline-block;
}
h4{
    text-align: center;
}
/* thank you page*/
#back{
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}
#back:hover{
    text-decoration: underline;
    color:var(--pink)
}


/* breakpoint - medium screens*/
@media screen and (min-width: 450px) {
    h1 {
        padding-left: 5%;
    }
    #tagline {
        padding-left: 10%;
    }
    nav>a {
        text-align: center;
        margin: 0 0 auto;
    }

}

/* breakpoint - large screens*/
@media screen and (min-width: 1000px) {
    
}